
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/description.html
.idea/libraries/controlsfx_8_40_10.xml
.idea/libraries/controlsfx_samples_8_40_10.xml
.idea/libraries/fxsampler_1_0_9.xml
.idea/libraries/jna_4_2_2.xml
.idea/libraries/openjfx_dialogs_1_0_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/uiDesigner.xml
.idea/workspace.xml
